.modal.fade.bd-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
	.modal-dialog.modal-lg(style="max-width: 700px;")
		.modal-content(style="padding: 25px; margin-top: 150px;")
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span.jh-close-modal(style="font-size:35px;" aria-hidden='true') ×
				h3.modal-title Choose an altcoin
			.modal-body
				div.jh_selector_wrapper
					each profile in profiles
						a(href="#{base_url}?c=#{profile.alt_ticker}")
							div.jh_alt_selector
								img.hidden-xs(src="https://files.coinmarketcap.com/static/img/coins/64x64/#{profile.market_cap_id}.png")
								img.visible-xs(src="https://files.coinmarketcap.com/static/img/coins/32x32/#{profile.market_cap_id}.png")
								p #{profile.converter_name}
								p (#{profile.alt_ticker})

script(src="/js/vendor/bootstrap.min.js")
