doctype html
html(lang='en')
  head
    include ./includes/head.jade
  body

    input#current_profile(type='hidden', value='#{current_profile}')

    .row.jh-title
      include ./includes/navigation.jade

    .container
      .row
        .col-xs-12.col-sm-12(style="padding-top:30px;")
          .container.chart-toolbar.text-center(role='toolbar')
            .btn-group.price-group.pull-right
              button.price-time.btn-chart.btn.btn-default(type='button', data-time="1", data-chart="price")
                span #{s.day}
              button.price-time.btn-chart.btn.btn-default(type='button', data-time="7", data-chart="price")
                span #{s.week}
              button.price-time.btn-chart.btn.btn-default.active(type='button', data-time="30", data-chart="price")
                span #{s.month}
              button.price-time.btn-chart.btn.btn-default(type='button', data-time="365", data-chart="price")
                span #{s.year}
              button.price-time.btn-chart.btn.btn-default(type='button', data-time="99999", data-chart="price")
                span #{s.all_time}
            .btn-group.price-group.pull-right
              button.price-ticker.btn-chart.btn.btn-default(type='button', data-ticker="btc", data-chart="price")
                span #{s.btc}
              button.price-ticker.btn-chart.btn.btn-default.active(type='button', data-ticker="usd", data-chart="price")
                span #{s.usd}
          h3.price-chart-title #{alt_ticker} #{s.chart_label}
          #price-chart.chart-container

    .container
      .row.price-block-end
        .col-xs-6.col-md-3(style="padding-bottom:15px;")
          p.stats-block
            span.stats-title(title="#{s.last_price_hint_usd}")
              span &nbsp;#{alt_ticker} / #{s.usd}&nbsp;
            span.stats-content.stats-lastprice -
            span.price-change.percent
        .col-xs-6.col-md-3(style="padding-bottom:15px;")
          p.stats-block
            span.stats-title(title="#{s.last_price_hint_btc}")
              span &nbsp;#{alt_ticker} / #{s.btc}&nbsp;
            span.stats-content.stats-btc -
            span.price-change.volume
        .col-xs-6.col-md-3(style="padding-bottom:15px;")
          p.stats-block
            span.stats-title
              span &nbsp;#{s.day_low}&nbsp;
            span.stats-content.stats-daylow -
            span.price-change.btc-low -
        .col-xs-6.col-md-3(style="padding-bottom:15px;")
          p.stats-block
            span.stats-title
              span &nbsp;#{s.day_high}&nbsp;
            span.stats-content.stats-dayhigh -
            span.price-change.btc-high -
    
    .container
      .row
        .col-xs-12.col-md-12
          .col-xs-12.col-md-12(style="padding-bottom: 45px")
            h2(style="margin: 25px auto; text-align: center;") #{converter_name} Converter
            form.form-inline(style="text-align: center;")
              .form-group
                .form-group.input-group
                  .input-group-addon #{alt_ticker}
                  input#altcoinAmount.form-control(type='text', value="1", style="font-size: 16px;")
                .form-group
                  div(style="padding: 0 10px;font-size: 32px;line-height: 32px;") = 
                .form-group
                  input#result.form-control(type='text', style="font-size: 16px;")
                .form-group
                  select#convertTo.selectpicker(data-live-search='true')
                    option(value='GBP') British Pound (GBP)
                    each row, key in currencies
                      if key != 'GBP'
                        option(value='#{key}') #{row}
      
        .row
          .col-xs-12.col-md-12
            div(style="margin: 0 auto; max-width: 600px;")
              h3(style="text-align: center;") About #{converter_name} price converter
              p(style="text-align: center; font-size: 16px;") This page allows you to see the #{converter_name} exchange rate and convert any amount of #{converter_name} to or from your preferred currency.
              p(style="text-align: center; font-size: 16px;") See how many #{converter_name}s you can buy. Enter an amount on the right-hand input field, to see the equivalent amount in #{converter_name} on the left.
              P(style="text-align: center; font-size: 16px;") See the value of your #{converter_name} holdings. Enter the number of #{converter_name}s you have, and watch their value fluctuate over time.
              p(style="text-align: center; font-size: 16px;") The exchange rates on this site are for information purposes only. They are not guaranteed to be accurate and are subject to change without notice.
              h3(style="text-align: center;") How it works
              p(style="text-align: center; font-size: 16px;") We use 2 price conversions to calculate the price in the currency of your choice: We take market price from Poloniex (#{alt_ticker}-BTC) and then calculate its price in USD using BTC-USD exchange rate from bitstamp.com. After this, we convert USD price to the currency of your choice using exchange rates from fixer.io
    footer
      include ./includes/footer.jade
