doctype html
html(lang='en')
  head
    include ./includes/head.jade
  body
    .container
      .row
        include ./includes/navigation.jade

      .row.hidden-xs
        .col-xs-12.col-sm-12
          .container.chart-toolbar.text-center(role='toolbar')
            .btn-group.price-group.pull-right
              button.price-time.btn-chart.btn.btn-default(type='button', data-time="1", data-chart="price")
                span Day
              button.price-time.btn-chart.btn.btn-default(type='button', data-time="7", data-chart="price")
                span Week
              button.price-time.btn-chart.btn.btn-default.active(type='button', data-time="30", data-chart="price")
                span Month
              button.price-time.btn-chart.btn.btn-default(type='button', data-time="365", data-chart="price")
                span Year
            .btn-group.price-group.pull-right
              button.price-ticker.btn-chart.btn.btn-default(type='button', data-ticker="btc", data-chart="price")
                span BTC
              button.price-ticker.btn-chart.btn.btn-default.active(type='button', data-ticker="usd", data-chart="price")
                span USD
          h3.price-chart-title Decred Price, USD
          #price-chart.chart-container

      .row.price-block-end
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title(title="Price based on data from Bittrex + BTC-E") 
              span &nbsp;DCR / USD&nbsp;
            span.stats-content.stats-lastprice -
            span.price-change.percent 
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title(title="Last price on Bittrex") 
              span &nbsp;DCR / BTC&nbsp;
            span.stats-content.stats-btc -
            span.price-change.volume
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title 
              span &nbsp;DAY LOW&nbsp;
            span.stats-content.stats-daylow -
            span.price-change.btc-low -
        .col-xs-6.col-md-3
          p.stats-block
            span.stats-title 
              span &nbsp;DAY HIGH&nbsp;
            span.stats-content.stats-dayhigh -
            span.price-change.btc-high -
    .container
      .row
        .col-xs-12.col-sm-12
          h2.main-color Decred Network Statistic
        .col-xs-12.col-md-6
          .col-xs-12.col-md-12.supply-chart-wrapper
            span.network-stats-title Decred Supply
            #supply.supply-chart-container
            .supply-chart-footer
              .supply-title 
                b.percent_mined %
                | &nbsp;mined so far
              .supply-numbers 
                b.mined_coins x
                | &nbsp;of total&nbsp;
                b 21 000 000
              .supply-progress
                .progress
                  .progress-bar(role="progressbar", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100", style="width: 0%")
        .col-xs-12.col-md-6.network-stats-wrapper
          .col-xs-6.col-md-6
            p.network-stats-block
              span.network-stats-title Last block
              span.network-stats-content.stats-blocks -
              span.stats-subinfo.stats-lastblock-time
          .col-xs-6.col-md-6
            p.network-stats-block
              span.network-stats-title Average block time
              //span.network-stats-title.visible-xs-block Avg block time
              span.network-stats-content.stats-time -
          .col-xs-6.col-md-6
            p.network-stats-block
              span.network-stats-title Hashrate
              span.network-stats-content.stats-hashrate -
              span.stats-subinfo Thash/s
          .col-xs-6.col-md-6
            p.network-stats-block
              span.network-stats-title Difficulty
              span.network-stats-content.stats-difficulty -
              span.stats-subinfo 
                a(href="https://dcrstats.com/pow", target="_blank") show chart
          .col-xs-6.col-md-6
            p.network-stats-block.stats-main-color.big
              span.network-stats-title Block reward
              span.network-stats-content.main-color.block-reward
              span.stats-subinfo.pow-block-reward
              span.stats-subinfo.pos-block-reward
              span.stats-subinfo.dev-block-reward
          .col-xs-6.col-md-6
            p.network-stats-block.big
              span.network-stats-title.hidden-xs Reward adjustment
              span.network-stats-title.visible-xs-block Next reward
              span.network-stats-content.est-block-reward
              span.stats-subinfo.est-reward-time
              span.stats-subinfo.est-reward-blocks
              span.stats-subinfo 
                a(href="https://dcrstats.com/subsidy", target="_blank") show forecast
    .container
      .row
        .col-xs-12.col-sm-12
          h2.pos-color Proof of Stake Stats
      .row
        .col-xs-6.col-md-3
          p.pos-stats-block
            span.pos-stats-title Ticket Price
            span.pos-stats-content.stats-ticketprice(style="color: #c6a55e;") -
        .col-xs-6.col-md-3
          p.pos-stats-block
            span.pos-stats-title PoS Poolsize
            span.pos-stats-content.stats-poolsize -
        .col-xs-6.col-md-3
          p.pos-stats-block
            span.pos-stats-title Mempool
            span.pos-stats-content.stats-mempool -
        .col-xs-6.col-md-3
          p.pos-stats-block
            span.pos-stats-title.hidden-xs Avg / Max fee
            span.pos-stats-title.visible-xs-block Avg / Max fee
            span.pos-stats-content.stats-fees -
      .row.reward-hints
        .col-xs-6.col-md-6
          p.pos-stats-block.big.stats-second-color
            span.pos-stats-title Estimated ticket price
            span.pos-stats-content.second-color.est-pos-price
            span.pos-stats-subinfo
              span.inline-block
                span Min:&nbsp;
                span.min-est-pos
              span.hidden-xs &nbsp;&nbsp;&nbsp;
              span.inline-block
                span Max:&nbsp;
                span.max-est-pos
        .col-xs-6.col-md-6
          p.pos-stats-block.big.stats-main-color
            span.pos-stats-title Ticket price adjustment
            span.pos-stats-content.main-color.est-pos-time 
            span.pos-stats-subinfo.est-pos-blocks
      .row
        .col-xs-12.col-md-6.hint-pos
          .stats-block(style="height: 200px;")
            span.stats-title
              span &nbsp;30-days volume-weighted average price&nbsp;
            span.pos-stats-content.main-color.avg-price
            h4.hint-title
            p.hint-content
        .col-xs-12.col-md-6.hint-pos
          .stats-block(style="height: 200px;")
            span.stats-title
              span &nbsp;Locked DCR in PoS-mining&nbsp;
            span.pos-stats-content
            p.poolvalue-stats
              | Current PoS pool value is&nbsp;
              b.poolvalue - DCR
              | ,
              br
              | &nbsp;it's&nbsp;
              b.poolvalue-percent x%
              |  of total available supply.
              br
            p.avg-pool-price
              i.fa.fa-ticket
              | Average ticket price 
              br
              | in the pool is&nbsp;
              b.avg-price-in-pos-pool - DCR
        #stakepool_block.col-xs-12.col-md-12(style="text-align: center;")
          a(href="https://dcrstats.com/app", target="_blank")
            img(src="/img/mobile_app_released.png",style="width: 100%; max-width: 800px; margin-top: 25px;")
          //a#meet_the_stakepool(href="javascript:;", style="display: block; color: #444;") [x] I am already the lion. Do not show me this banner again.
      .row.hidden-xs
        .col-xs-12.col-sm-12
          .col-xs-12.col-sm-12.pos-chart-wrapper
            .chart-title PoS Ticket Price, DCR
            .btn-toolbar(role='toolbar')
              .btn-group.pos-group
                button.btn-chart.btn.btn-default(type='button', data-period="7", data-chart="sbits")
                  span Week
                button.btn-chart.btn.btn-default.active(type='button', data-period="30", data-chart="sbits")
                  span Month
                button.btn-chart.btn.btn-default(type='button', data-period="365", data-chart="sbits")
                  span Year
            #pos-sbits.chart-container
      if stakepools
        .row.stakepools-row
          .col-xs-12.col-md-12
            h2.pos-color Proof of Stake Pools
          .col-xs-12.col-sm-12
              div.table-responsive.pos-chart-wrapper
                table#stakepools.table.table-striped.table-responsive
                  thead
                    tr
                      th Note
                      th URL
                      th
                        | Live
                        | &nbsp;
                        span.glyphicon.glyphicon-question-sign(data-original-title="Amount and percentage of total network tickets")
                      th Immature
                      th Voted
                      th Missed
                      th Pool Fees
                      th Users
                      th Last Updated
                  tbody
                    each row in stakepools
                     if (row['Live'] != 'N/A' && row['Live'])
                       tr
                        td
                          if row['url'] == 'https://stakepool.dcrstats.com'
                            span.fa.fa-trophy(data-original-title="Our choice!")
                        td
                          a(href="#{row['url']}",target="_blank",rel="nofollow")= row['url']
                        td(style="color: #66a833;")= row['Live']
                          | &nbsp;
                          span(style="font-size: 12px; color: #BBBBBB;")= ((row['Live'] / stats.poolsize * 100).toString().substr(0,4) + "%")
                        td= row['Immature']
                        td(style="color: #00b4ff;")= row['Voted']
                        td= row['Missed']
                          | &nbsp;
                          span(style="font-size: 12px; color: #BBBBBB;")= (((parseFloat(row['Missed']) / (parseFloat(row['Voted']) + parseFloat(row['Missed'])))  * 100).toString().substr(0,4) + "%")
                        td= (row['PoolFees'] + '%')
                        td= row['UserCount']
                        td= moment(row['lastUpdated'] * 1000).fromNow()
                p.notice Notice: Missed stakepool tickets can be caused by a poorly connected Proof-of-work (PoW) miner and may not necessarily be the fault of the pool.
    footer
      include ./includes/footer.jade
