doctype html
html(lang='en')
  head
    include ./includes/head.jade
  body
    include ./includes/navigation.jade
    .container
      .row
        .col-xs-12.col-sm-12
          h1.decred-title(style="font-size: 42px;margin: 20px 0;") Decred subsidy forecast
      .row
        .col-xs-12.col-md-12
          .table-responsive
            table.table.chart-container.table-striped(style="text-align: center;")
              tr.table-center
                th Block height
                th Estimated date
                th Block subsidy, DCR
                th PoW, DCR
                th PoS vote, DCR
                th Dev subsidy, DCR
                th Maximum total DCR subsidy
              each row in result
                tr
                  td.height #{row.block}
                  td #{moment.unix(row.date).format('LL')}
                  td #{row.block_reward.toFixed(2)}
                  td #{row.pow_reward.toFixed(2)}
                  td #{row.pos_reward.toFixed(2)}
                  td #{row.dev_reward.toFixed(2)}
                  td #{row.total.toFixed(0).toString().replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ')}
                
    footer
      include ./includes/footer.jade
